.footer {
  background-color: $color-dark
}

.footer-inner {
  @include inner;
}

.footer-logo {
  @include logo;
  margin: 31px 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.flex-link {
  display: flex;
  align-items: center;
}

.footer-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  margin-right: 45px;
  color: #FFFFFF;
}

.social {
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item {
  margin-left: 15px;
}

.social-link {
  display: block;
  height: 26px;
  width: 26px;
}
