.promo {
  text-align: center;
  color: #fff;
  background-image: url(../images/african-american.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-fade {
  padding: 200px 0 204px 0;
  background-color: rgba($color-dark, .4);
}

.promo-inner {
  @include inner;
}

.promo-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 110px;
}
