.work {
  background-color: rgba($color-dark, 0);
}

.work-inner {
  @include inner;
  margin: 130px auto
}

.work-title {
  @include title;
  margin-bottom: 97px;
}

.work-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 0 120px;
}

.work-figure {
  object-fit: cover;
  position: relative;
}

.work-img-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  background-color: rgba($color-dark, .4);
}

.btn-flex {
  display: flex;
  justify-content: center;
}
