@mixin inner {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin logo {
  font-family: $font-open;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

@mixin title {
  font-family: $font-open;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: #333;
  text-align: center;
}

